<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46150611821-hgs5b6vibfgu269dj7oe0pnlhfbjn80e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46150611821-hgs5b6vibfgu269dj7oe0pnlhfbjn80e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>46150611821-923on83b992m6jnoenmft4nprfibp8t2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmg-PxfK_lFxFARsC3TanWrvnDiLlMBIo</string>
	<key>GCM_SENDER_ID</key>
	<string>46150611821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineJobPortal</string>
	<key>PROJECT_ID</key>
	<string>onlinejobportal-46987</string>
	<key>STORAGE_BUCKET</key>
	<string>onlinejobportal-46987.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46150611821:ios:0b5abaa7924ead8cf5a064</string>
</dict>
</plist>